.corona-panel-text {
  margin-top: 3px;
  font-size: 11pt;
}

.corona-panel-action:hover,
.corona-panel-action:focus {
  border-color: #777;
}

.corona-current-summarybox,
.corona-current-databox-captions,
.corona-current-databox-values {
  border-radius: 0px;
  padding: 0px;
  border: 0px;
}

.corona-current-summarybox {
  padding-top: 5px;
}

.current-country-summary {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
}

.today-data-info {
  font-size: 18px;
  font-weight: bold;
}

.statistic-data-info-key {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
}

.statistic-data-info-value {
  font-size: 18px;
  margin-bottom: 3px;
}

.corona-current-databox {
  padding: 5px 15px 0px;
}

.corona-current-iconbox {
  padding-right: 20px;
}

.corona-current-databox-captions {
  text-align: right;
  padding-right: 5px;
  spacing: 0;
}

.new-cases-icon-style {
  padding-right: 5px;
  width: 24px;
  height: 24px;
}

.new-deaths-icon-style {
  padding-left: 15px;
  padding-right: 5px;
}

.corona-menu-button-container {
}

.corona-button-action:hover,
.corona-button-action:focus {
  border-color: #777;
}
.corona-button-action > StIcon {
  icon-size: 16px;
}
.corona-button-box {
  padding: 0px;
  padding-left: 10px;
  spacing: 22px;
}
